{{!
    This file is part of mod_checkmark for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_checkmark/examplestate

    Single state of a checkmark example. Displays a different icon based on if a check was
    set and if it was overridden by the teacher

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *
    *

    Example context (json):
    {
        "checkid": 276432,
        "is_checked": true,
        "is_forced": true,
        "is_forced_checked": true
    }
}}
<span {{#checkid}}data-checkid="{{.}}"{{/checkid}}{{!
        }} class="mod_checkmark_examplestate fa-stack" {{#is_forced}}title = "{{get_forcedstring}}"{{/is_forced}}>
  <i class="fa fa-stack-2x {{#is_forced}} text-error{{/is_forced}}">{{#pix}} i/unchecked, core {{/pix}}</i>
  {{^is_forced}}{{#is_checked}}<i class="fa fa-stack-1x" style="top: 5px;">{{#pix}} e/cancel, core {{/pix}}</i>{{/is_checked}}{{/is_forced}}
  {{#is_forced_checked}}<i class="fa fa-stack-1x text-error" style="top: 5px;">{{#pix}} e/cancel, core {{/pix}}</i>{{/is_forced_checked}}
</span>
