{{!
    This file is part of mod_checkmark for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_checkmark/example

    The complete example including state-icon, name, grade, etc.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *
    *

    Example context (json):
    {
        "checkid": 276432,
        "is_checked": true,
        "is_forced": true,
        "is_forced_checked": true
    }
}}
<span class="mod_checkmark_example">
    {{>mod_checkmark/examplestate}} {{get_name}} ({{get_grade}} {{get_pointsstring}}) {{#is_forced}}<span class="text-error">[{{get_forcedstring}}]</span>{{/is_forced}}
</span>
