{{!
    This file is part of mod_checkmark for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_checkmark/overwriteinfo

    Display info if a given check was overwritten

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *
    *

    Example context (json):
    {
        "id": 23,
        "is_forced": true
    }
}}

<span class="text-error overwritetag id_{{get_id}} {{^is_forced}}d-none{{/is_forced}}" id="overwrite{{get_id}}"  >{{get_forcedstring_unconditionally}}</span>